USE [dbAccountManager]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([Id], [Username], [Password]) VALUES (1, N'Admin', N'Admin')
INSERT [dbo].[User] ([Id], [Username], [Password]) VALUES (2, N'User', N'User123')
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[Role]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON
INSERT [dbo].[Role] ([Id], [RoleName], [IsActive]) VALUES (1, N'Admin', 1)
INSERT [dbo].[Role] ([Id], [RoleName], [IsActive]) VALUES (2, N'User', 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
/****** Object:  Table [dbo].[QuantityUnit]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuantityUnit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.QuantityUnit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[QuantityUnit] ON
INSERT [dbo].[QuantityUnit] ([Id], [Title]) VALUES (1, N'KG')
INSERT [dbo].[QuantityUnit] ([Id], [Title]) VALUES (2, N'Litre')
SET IDENTITY_INSERT [dbo].[QuantityUnit] OFF
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_dbo.ProductCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductCategory] ON
INSERT [dbo].[ProductCategory] ([Id], [Name], [ParentId]) VALUES (1, N'Wooden', NULL)
INSERT [dbo].[ProductCategory] ([Id], [Name], [ParentId]) VALUES (2, N'Iron', NULL)
SET IDENTITY_INSERT [dbo].[ProductCategory] OFF
/****** Object:  Table [dbo].[PaymentStatus]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.PaymentStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PaymentStatus] ON
INSERT [dbo].[PaymentStatus] ([Id], [Title]) VALUES (1, N'Paid')
INSERT [dbo].[PaymentStatus] ([Id], [Title]) VALUES (2, N'UnPaid')
INSERT [dbo].[PaymentStatus] ([Id], [Title]) VALUES (3, N'Due Payment')
SET IDENTITY_INSERT [dbo].[PaymentStatus] OFF
/****** Object:  Table [dbo].[OfficeType]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfficeType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Level] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OfficeType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OfficeType] ON
INSERT [dbo].[OfficeType] ([Id], [Name], [Level]) VALUES (1, N'Corporate Office', 1)
INSERT [dbo].[OfficeType] ([Id], [Name], [Level]) VALUES (2, N'Brach Office', 3)
INSERT [dbo].[OfficeType] ([Id], [Name], [Level]) VALUES (3, N'Head Office', 2)
SET IDENTITY_INSERT [dbo].[OfficeType] OFF
/****** Object:  Table [dbo].[Company]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[About] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Website] [nvarchar](100) NULL,
	[Phone] [nvarchar](13) NULL,
	[Fax] [nvarchar](15) NULL,
 CONSTRAINT [PK_dbo.Company] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company] ON
INSERT [dbo].[Company] ([Id], [Name], [About], [IsActive], [Website], [Phone], [Fax]) VALUES (1, N'Dell', N'<p>Dell</p>
', 1, N'www.dell.com', N'993929492', N'NA')
SET IDENTITY_INSERT [dbo].[Company] OFF
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuText] [nvarchar](100) NOT NULL,
	[MenuURL] [nvarchar](400) NOT NULL,
	[ParentId] [int] NULL,
	[SortOrder] [int] NULL,
	[MenuIcon] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Menu] ON
INSERT [dbo].[Menu] ([Id], [MenuText], [MenuURL], [ParentId], [SortOrder], [MenuIcon]) VALUES (2, N'List Role', N'Role', 43, 1, N'<i class="fa fa-arrow-circle-o-right"></i>')
INSERT [dbo].[Menu] ([Id], [MenuText], [MenuURL], [ParentId], [SortOrder], [MenuIcon]) VALUES (4, N'List User', N'User', 43, 2, N'<i class="fa fa-user"></i>')
INSERT [dbo].[Menu] ([Id], [MenuText], [MenuURL], [ParentId], [SortOrder], [MenuIcon]) VALUES (6, N'List Role User', N'RoleUser', 43, 3, N'<i class="fa fa-arrow-circle-o-right"></i>')
SET IDENTITY_INSERT [dbo].[Menu] OFF
/****** Object:  Table [dbo].[LedgerAccountType]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LedgerAccountType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_dbo.LedgerAccountType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LedgerAccountType] ON
INSERT [dbo].[LedgerAccountType] ([Id], [Title], [ParentId]) VALUES (1, N'Assets', NULL)
INSERT [dbo].[LedgerAccountType] ([Id], [Title], [ParentId]) VALUES (2, N'Current Assets', 1)
INSERT [dbo].[LedgerAccountType] ([Id], [Title], [ParentId]) VALUES (3, N'Fixed Assets', 1)
SET IDENTITY_INSERT [dbo].[LedgerAccountType] OFF
/****** Object:  Table [dbo].[FinancialYear]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialYear](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.FinancialYear] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FinancialYear] ON
INSERT [dbo].[FinancialYear] ([Id], [StartDate], [EndDate]) VALUES (1, CAST(0x0000A74800000000 AS DateTime), CAST(0x0000A8B500000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[FinancialYear] OFF
/****** Object:  Table [dbo].[Currency]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currency](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](10) NULL,
 CONSTRAINT [PK_dbo.Currency] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Currency] ON
INSERT [dbo].[Currency] ([Id], [Name], [Code]) VALUES (1, N'USA Dollar', N'$')
INSERT [dbo].[Currency] ([Id], [Name], [Code]) VALUES (2, N'INR', N'INR')
INSERT [dbo].[Currency] ([Id], [Name], [Code]) VALUES (3, N'Australian Dollar ', N'AUS$')
SET IDENTITY_INSERT [dbo].[Currency] OFF
/****** Object:  Table [dbo].[CompanyOffice]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyOffice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[OfficeTypeId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CompanyOffice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CompanyOffice] ON
INSERT [dbo].[CompanyOffice] ([Id], [Title], [Code], [CreatedOn], [OfficeTypeId], [CompanyId]) VALUES (1, N'DELL', N'DELL', CAST(0x0000A7A300000000 AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[CompanyOffice] OFF
/****** Object:  Table [dbo].[CompanyClient]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyClient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.CompanyClient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CompanyClient] ON
INSERT [dbo].[CompanyClient] ([Id], [CompanyId], [FirstName], [LastName], [IsActive], [Email]) VALUES (1, 1, N'harjinder', N'singh', 1, N'harjinder.ss@gmail.com')
SET IDENTITY_INSERT [dbo].[CompanyClient] OFF
/****** Object:  Table [dbo].[CompanyAccount]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[URL] [nvarchar](150) NULL,
	[Usename] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[CompanyId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CompanyAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuPermission]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuPermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NULL,
	[RoleId] [int] NOT NULL,
	[UserId] [int] NULL,
	[SortOrder] [int] NULL,
	[IsCreate] [bit] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsUpdate] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.MenuPermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MenuPermission] ON
INSERT [dbo].[MenuPermission] ([Id], [MenuId], [RoleId], [UserId], [SortOrder], [IsCreate], [IsRead], [IsUpdate], [IsDelete]) VALUES (1, 2, 1, NULL, 1, 1, 1, 1, 1)
INSERT [dbo].[MenuPermission] ([Id], [MenuId], [RoleId], [UserId], [SortOrder], [IsCreate], [IsRead], [IsUpdate], [IsDelete]) VALUES (2, 4, 1, NULL, 2, 1, 1, 1, 1)
INSERT [dbo].[MenuPermission] ([Id], [MenuId], [RoleId], [UserId], [SortOrder], [IsCreate], [IsRead], [IsUpdate], [IsDelete]) VALUES (3, 6, 1, NULL, 3, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[MenuPermission] OFF
/****** Object:  Table [dbo].[RoleUser]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RoleUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RoleUser] ON
INSERT [dbo].[RoleUser] ([Id], [RoleId], [UserId]) VALUES (1, 1, 1)
INSERT [dbo].[RoleUser] ([Id], [RoleId], [UserId]) VALUES (2, 2, 2)
SET IDENTITY_INSERT [dbo].[RoleUser] OFF
/****** Object:  Table [dbo].[Invoice]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BillDate] [datetime] NOT NULL,
	[DueDate] [datetime] NULL,
	[Status] [int] NOT NULL,
	[LastEmailed] [datetime] NULL,
	[OtherInvoiceCode] [nvarchar](50) NULL,
	[ClientId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[OfficeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Invoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON
INSERT [dbo].[Invoice] ([Id], [BillDate], [DueDate], [Status], [LastEmailed], [OtherInvoiceCode], [ClientId], [CreatedBy], [OfficeId]) VALUES (1, CAST(0x0000A7A600000000 AS DateTime), CAST(0x0000A7B000000000 AS DateTime), 1, NULL, N'1111', 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Invoice] OFF
/****** Object:  Table [dbo].[Transaction]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[OfficeId] [int] NOT NULL,
	[DebitAccount] [int] NULL,
	[DebitAmount] [decimal](18, 2) NULL,
	[CreditAccount] [int] NULL,
	[CreditAmount] [decimal](18, 2) NULL,
	[TransactionDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Transaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON
INSERT [dbo].[Transaction] ([Id], [Title], [DateAdded], [AddedBy], [OfficeId], [DebitAccount], [DebitAmount], [CreditAccount], [CreditAmount], [TransactionDate]) VALUES (1, N'buy table', CAST(0x0000A7A601003E0C AS DateTime), 1, 1, 3, CAST(12333.00 AS Decimal(18, 2)), NULL, NULL, CAST(0x0000A7A300000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Transaction] OFF
/****** Object:  Table [dbo].[Product]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PurchaseCost] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[OfficeId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ProductImage] [nvarchar](200) NULL,
	[BareCode] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[ReOrderValue] [int] NULL,
	[Stock] [int] NOT NULL,
	[MinStockValue] [int] NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON
INSERT [dbo].[Product] ([Id], [Name], [PurchaseCost], [SalePrice], [OfficeId], [IsActive], [ProductImage], [BareCode], [Description], [ReOrderValue], [Stock], [MinStockValue]) VALUES (1, N'Laptop', CAST(10000.00 AS Decimal(18, 2)), CAST(12000.00 AS Decimal(18, 2)), 1, 1, NULL, N'33', N'<p>laptop</p>
', NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
/****** Object:  Table [dbo].[InvoiceTransaction]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceTransaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [int] NOT NULL,
	[InvoiceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.InvoiceTransaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItem]    Script Date: 07/04/2017 15:53:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[UnitName] [int] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.InvoiceItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.CompanyAccount_dbo.Company_CompanyId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[CompanyAccount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CompanyAccount_dbo.Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[CompanyAccount] CHECK CONSTRAINT [FK_dbo.CompanyAccount_dbo.Company_CompanyId]
GO
/****** Object:  ForeignKey [FK_dbo.CompanyClient_dbo.Company_CompanyId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[CompanyClient]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CompanyClient_dbo.Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[CompanyClient] CHECK CONSTRAINT [FK_dbo.CompanyClient_dbo.Company_CompanyId]
GO
/****** Object:  ForeignKey [FK_dbo.CompanyOffice_dbo.Company_CompanyId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[CompanyOffice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CompanyOffice_dbo.Company_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([Id])
GO
ALTER TABLE [dbo].[CompanyOffice] CHECK CONSTRAINT [FK_dbo.CompanyOffice_dbo.Company_CompanyId]
GO
/****** Object:  ForeignKey [FK_dbo.CompanyOffice_dbo.OfficeType_OfficeTypeId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[CompanyOffice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CompanyOffice_dbo.OfficeType_OfficeTypeId] FOREIGN KEY([OfficeTypeId])
REFERENCES [dbo].[OfficeType] ([Id])
GO
ALTER TABLE [dbo].[CompanyOffice] CHECK CONSTRAINT [FK_dbo.CompanyOffice_dbo.OfficeType_OfficeTypeId]
GO
/****** Object:  ForeignKey [FK_dbo.Invoice_dbo.CompanyOffice_OfficeId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoice_dbo.CompanyOffice_OfficeId] FOREIGN KEY([OfficeId])
REFERENCES [dbo].[CompanyOffice] ([Id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_dbo.Invoice_dbo.CompanyOffice_OfficeId]
GO
/****** Object:  ForeignKey [FK_dbo.Invoice_dbo.PaymentStatus_Status]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoice_dbo.PaymentStatus_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[PaymentStatus] ([Id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_dbo.Invoice_dbo.PaymentStatus_Status]
GO
/****** Object:  ForeignKey [FK_dbo.Invoice_dbo.User_ClientId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoice_dbo.User_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_dbo.Invoice_dbo.User_ClientId]
GO
/****** Object:  ForeignKey [FK_dbo.InvoiceItem_dbo.Invoice_InvoiceId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[InvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InvoiceItem_dbo.Invoice_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItem] CHECK CONSTRAINT [FK_dbo.InvoiceItem_dbo.Invoice_InvoiceId]
GO
/****** Object:  ForeignKey [FK_dbo.InvoiceItem_dbo.QuantityUnit_UnitName]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[InvoiceItem]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InvoiceItem_dbo.QuantityUnit_UnitName] FOREIGN KEY([UnitName])
REFERENCES [dbo].[QuantityUnit] ([Id])
GO
ALTER TABLE [dbo].[InvoiceItem] CHECK CONSTRAINT [FK_dbo.InvoiceItem_dbo.QuantityUnit_UnitName]
GO
/****** Object:  ForeignKey [FK_dbo.InvoiceTransaction_dbo.Invoice_InvoiceId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[InvoiceTransaction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InvoiceTransaction_dbo.Invoice_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoice] ([Id])
GO
ALTER TABLE [dbo].[InvoiceTransaction] CHECK CONSTRAINT [FK_dbo.InvoiceTransaction_dbo.Invoice_InvoiceId]
GO
/****** Object:  ForeignKey [FK_dbo.InvoiceTransaction_dbo.Transaction_TransactionId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[InvoiceTransaction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InvoiceTransaction_dbo.Transaction_TransactionId] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Transaction] ([Id])
GO
ALTER TABLE [dbo].[InvoiceTransaction] CHECK CONSTRAINT [FK_dbo.InvoiceTransaction_dbo.Transaction_TransactionId]
GO
/****** Object:  ForeignKey [FK_dbo.LedgerAccountType_dbo.LedgerAccountType_ParentId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[LedgerAccountType]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LedgerAccountType_dbo.LedgerAccountType_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[LedgerAccountType] ([Id])
GO
ALTER TABLE [dbo].[LedgerAccountType] CHECK CONSTRAINT [FK_dbo.LedgerAccountType_dbo.LedgerAccountType_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.Menu_dbo.Menu_ParentId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Menu_dbo.Menu_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Menu] ([Id])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_dbo.Menu_dbo.Menu_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.MenuPermission_dbo.Menu_MenuId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[MenuPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuPermission_dbo.Menu_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([Id])
GO
ALTER TABLE [dbo].[MenuPermission] CHECK CONSTRAINT [FK_dbo.MenuPermission_dbo.Menu_MenuId]
GO
/****** Object:  ForeignKey [FK_dbo.MenuPermission_dbo.Role_RoleId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[MenuPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuPermission_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuPermission] CHECK CONSTRAINT [FK_dbo.MenuPermission_dbo.Role_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.MenuPermission_dbo.User_UserId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[MenuPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuPermission_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[MenuPermission] CHECK CONSTRAINT [FK_dbo.MenuPermission_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.Product_dbo.CompanyOffice_OfficeId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.CompanyOffice_OfficeId] FOREIGN KEY([OfficeId])
REFERENCES [dbo].[CompanyOffice] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.CompanyOffice_OfficeId]
GO
/****** Object:  ForeignKey [FK_dbo.ProductCategory_dbo.ProductCategory_ParentId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCategory_dbo.ProductCategory_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[ProductCategory] ([Id])
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_dbo.ProductCategory_dbo.ProductCategory_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.RoleUser_dbo.Role_RoleId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[RoleUser]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleUser_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUser] CHECK CONSTRAINT [FK_dbo.RoleUser_dbo.Role_RoleId]
GO
/****** Object:  ForeignKey [FK_dbo.RoleUser_dbo.User_UserId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[RoleUser]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleUser_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUser] CHECK CONSTRAINT [FK_dbo.RoleUser_dbo.User_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.Transaction_dbo.CompanyOffice_OfficeId]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transaction_dbo.CompanyOffice_OfficeId] FOREIGN KEY([OfficeId])
REFERENCES [dbo].[CompanyOffice] ([Id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_dbo.Transaction_dbo.CompanyOffice_OfficeId]
GO
/****** Object:  ForeignKey [FK_dbo.Transaction_dbo.LedgerAccountType_CreditAccount]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transaction_dbo.LedgerAccountType_CreditAccount] FOREIGN KEY([CreditAccount])
REFERENCES [dbo].[LedgerAccountType] ([Id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_dbo.Transaction_dbo.LedgerAccountType_CreditAccount]
GO
/****** Object:  ForeignKey [FK_dbo.Transaction_dbo.LedgerAccountType_DebitAccount]    Script Date: 07/04/2017 15:53:03 ******/
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transaction_dbo.LedgerAccountType_DebitAccount] FOREIGN KEY([DebitAccount])
REFERENCES [dbo].[LedgerAccountType] ([Id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_dbo.Transaction_dbo.LedgerAccountType_DebitAccount]
GO
