@{
    ViewBag.Title = "Contact";
}
@{
    
    if (Ajax.IsThisAjaxRequest())
    {
        Layout = null;
    }
}
<section class="content-header">
    <h1>
        @ViewBag.Title
         
    </h1>
</section>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12">

            <!-- Small boxes (Stat box) -->
            <div class="row">
                <h2>@ViewBag.Title.</h2>
                <h3>@ViewBag.Message</h3>

                <address>
                    Om Shree Sai Finance<br />
                    Kalaburagi<br />
                    <abbr title="Phone">P:</abbr>
                    XXXXXXXXXXX
                </address>

                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </address>

            </div>
        </div>
    </div>
</section>




