@model AccountManager.ModelDto.HomeDto
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
@*<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>*@



<section class="content-header">
    <h1>
        Dashboard
        <small>   </small>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
         
        <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>  @Model.Asset </h3>
                    <p>Total Asset</p>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
                <a class="small-box-footer" href="~/Transaction/">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3> @Model.Transaction</h3>
                    <p>Total Transaction</p>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
                <a class="small-box-footer" href="~/Menu/">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->

        <div class="col-lg-2 col-xs-3">
            <!-- small box -->
            <div class="small-box bg-black">
                <div class="inner">
                    <h3> @Model.AccountHoders</h3>
                    <p> Accounts </p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a class="small-box-footer" href="~/Customers/">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
         <!-- ./col -->
        <!--<div class="col-lg-2 col-xs-3">-->
            <!-- small box -->
            <!--<div class="small-box bg-gray">
                <div class="inner">
                    <h3> @Model.Product</h3>
                    <p>Product </p>
                </div>
                <div class="icon">
                    <i class="fa fa-star-o"></i>
                </div>
                <a class="small-box-footer" href="~/Product/"> <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>--><!-- ./col -->
    </div><!-- /.row -->


 



     

     


     
 

</section>


